@model HRSystem.Models.PermissionType
@{
    ViewBag.Title = "Delete";
}

<h2>@Resources.NubiHR.Delete</h2>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <h3>@Resources.NubiHR.AreYouSureYouWantToDeleteThis</h3>

    <div>

        @Html.ActionLink(Resources.NubiHR.Back, "Index") |
        <input type="submit" value=@Resources.NubiHR.Delete class="btn btn-danger" />
    </div>
}