/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
    font-family: 'Times New Roman', Times, serif;
}

footer{
    margin-top:50px;
    text-align:center;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    color: #eea904;
}

.bg {
    background-image: url(../Content/image/pexels-photo-1089549.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: beige;
}

.overlay {
    /* background-color: #eea904;
    opacity: 0.8; 
    */
    background: rgba(0, 0, 0, 0.47) !important;
    z-index: -3;
    height: 100% !important;
}
/* login form*/
.form-log {
    margin-top: 173px;
}

    form > img {
        margin-bottom: 20px;
    }

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #eea904;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

    .input-field:focus {
        border: 2px solid d#eea904;
    }

/* Set a style for the submit button */
.btn2 {
    background-color: #eea904;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
    .btn2:hover {
        opacity: 1;
    }

.btn-Back {
    background-color: #3a4651;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn-Back:hover {
    opacity: 1;
}
    .btn-Back a{
color:white;
    }
    

.newaccount {
    text-align: center !important;
    font-style: italic;
    color: #ffffff;
}

    .newaccount:hover {
        font-style: italic;
        color: #ffffff;
        text-decoration: underline;
    }
.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 10px 10px;
    border: 1px solid #e0e0e0;
    font-weight: bold;
    color: #eea904;
}

.the-fieldset {
    border: 1px solid #c4c3c3;
    padding: 10px;
}
